<app-nav></app-nav>
<h3>Create New Listing</h3>
<div class="initial_input_all">
    <form class="form" #f="ngForm" >
      <div class="title">
        <label for="title">*Title</label>
    </div>
        <input type="text" name="titleName" class="initial_input_control" >
     
      <div class="author">
        <label for="author">*Author</label>
        </div>
        <input type="text" name="authorName" class="initial_input_control" >
     
      <div class="price">
        <label for="price">*Price</label>
        </div>
        <input type="text" name="priceName" class="initial_input_control">
     
      <div class="class">
        <label for="class">*Class</label>
        </div>
        <input type="text" name="className" class="initial_input_control">
    
      <div class="condition">
        <label for="condition">*Condition</label>
        </div>
        <input type="text" name="conditionName" class="initial_input_control">
    
      <div class="description">
        <label for="description">Description</label>
        </div>
        <input type="text" name="descriptionName" class="initial_input_control">
      
      <!-- <div class="required">
        *denotes required fields.
      </div> -->
      <div class="submit_data_div">
        <button type="submit" class="submit_data">Submit</button>
      </div>
    </form>
  
</div>