<app-nav></app-nav>
<div class="createNew" (click)="openModal('custom-modal-1')"> <span>Create New Listing</span> </div>
<h3>Your Textbooks</h3>
<div class="textbook-1" (click)="openModal('custom-modal-2')">
    
    <!-- <div class="details">
    .  .  .
    </div> -->
</div>
<modal id="custom-modal-1" style="display:none">
    <div class="modal">
        <div class="modal-body">
            <div class="modal-date">
                 <div class="date-modal">
                         06/04/2018
                 </div>
                 <div class="team-name-modal">
                         IP Team 1
                 </div>
            </div>
             
             <div class="pgroup">
                 Practice Group: 
             </div>
                 <div class="pgroup-name">
                     IP
                 </div>
             <div class="boffice">
                 Billing Office:
             </div>
                 <div class="boffice-name">
                     Chicago
                 </div>
             <div class="currency">
                 Currency:
             </div>
                 <div class="currency-name">
                     USD
                 </div>
             <div class="matterDuration">
                 Matter Duration:
             </div>
                 <div class="matterDates">
                         06/15/2018 - 08/17/2018
                 </div>
             <div class="dueDate">
                 Quote Due Date: 
              </div>
                 <div class="quoteDate">
                         6/05/2018
                 </div>
                 <div class="team-members">
                     Team Members: 
                 </div>
                     <div class="lead-partner-name">
                         Chase West
                     </div>
                     <div class="team-member-1">
                         John Cain
                     </div>
                     <div class="team-member-2">
                         Georgia Tate
                     </div>
                     <div class="team-member-3">
                         Andrew Bates
                     </div>
                     <div class="team-member-4">
                         Daniel Garner
                     </div>
                 
           
         </div>
     </div>
    <div class="modal-background"></div>
</modal>
<modal id="custom-modal-2" style="display:none">
    <div class="modal">
        <div class="modal-body">
            <div class="modal-date">
                 <div class="date-modal">
                         06/04/2018
                 </div>
                 <div class="textbook-modal">
                         Listing #1
                 </div>
            </div>
             
             <div class="title">
                 Title 
             </div>
                 <div class="title-name">
                     change title
                 </div>
             <div class="price">
                 Price:
             </div>
                 <div class="price-number">
                     Chicago
                 </div>
             <div class="Quality">
                 Quality:
             </div>
                 <div class="Quality-name">
                     USD
                 </div>
             
                 
           
         </div>
     </div>
    <div class="modal-background"></div>
</modal>