<app-nav></app-nav>
<div class="createNew" href="/create"> <span><a href="/create">Create New Listing</a></span> </div>
<h3>Your Textbooks</h3>
<div class="textbook-1">
    <div class="title">
        Title: 
    </div>
    <div class="title-name">
        Operating Systems Concepts
    </div>
    <div class="author">
        By:
    </div>
    <div class="author-name">
        Abraham Silberschatz, Peter Galvin, Greg Gagne
    </div>
    <div class="price">
        Price:
    </div>
    <div class="price-name">
        $30
    </div>
    <div class="class">
        Class:
    </div>
    <div class="class-name">
        EECS 338
    </div>
    <div class="condition">
        Condition:
    </div>
    <div class="condition-name">
        Slightly used
    </div>
</div>
