@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    font-family: 'Roboto Mono', monospace;
   
    /* background-color: white; */
    box-sizing: border-box;
    overflow: auto;
    
}

ul {
    list-style-type: none;
    margin: 0 auto;
    /* padding: 0.7%; */
    overflow: hidden;
    border: 1px solid #DADADA;
    background-color: #DADADA;
    padding-left: 0;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: rgb(109, 110, 113);
    text-align: center;
    padding-left: 8px;
    padding-right: 16px;
    /* padding-top: 17px; */
    padding-bottom: 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
    /* background-color: #f9f9f9; */
}

/* li a.active {
    color: black;
    background-color: white;
} */
.texchangeLogo {
    display: block;
    width: 53px;
    height: 55px;
   
}
li a.home {
    text-align: center;
    padding-left: 24px;
    padding-right: 18px;
    padding-bottom: 0px;
    padding-top: 5px;

}

.searchPage {
    display: inline-block;
    padding-left: 10px;
    padding-top: 6px;
    /* padding-bottom: 6px; */
    width: 41px;
    height: 50px;
}
/* Dropdown Button */
.dropbtn {
    display: inline-block;
    padding-left: 20px;
    padding-top: 4px;
    width: 50px;
    height: 41px;
    /* border-radius: 50%; */
    /* border: 0.5px solid rgb(173, 171, 171); */
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
}

/* The container <div> - needed to position the dropdown content */
 .dropdown {
     display: inline-block;

    /* position: relative;  */
    padding-right: 2%;
    padding-top: 0.85%;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    margin-right: 11px;
    right: 0;
    position: absolute;
    background-color: white;
    width: 10%;
    height: 20%;
    box-shadow: 0px 8px 16px 0px rgb(233, 231, 231);
    z-index: 1;
    border-radius: 6px;
    border: 0.5px solid rgb(173, 171, 171);
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
    /* color: #5DBFE2; */
    color: black;

    /* padding: 12px 16px; */
    /* padding-top: 5px; */
    text-decoration: none;
    height: 33%;
    
    /* padding-bottom: 20px; */


}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(233, 231, 231);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown
.dropdown:hover .dropbtn {
     background-color: #5DBFE2;
} */


/* .dropbtn img {
    width: 50px;
} */

.settingsDrop, .profileDrop, .supportDrop, .signOutDrop {
    display: inline-block;
    height: 30px;
    padding-top: 15px;
    /* padding-left: 17px; */
    padding-left: 15px;
    padding-right: 10px;
    

}
/* .signOutDrop, .profileDrop, .settingsDrop {
    width: 50px;
} */