/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    font-family: 'Roboto Mono', monospace;
   
    /* background-color: white; */
    box-sizing: border-box;
    overflow: auto;
    
}
  
.texchangeLogo {
    display: inline-block;
    height: 45px;
    width: 40px;
    padding-top: 20px;
    padding-right: 10px;
}

.heading {
        
    /* color: rgba(131, 132, 133, 0.836); */
    color: black;
    float: center;
    
   
    font-size: 40px;
    padding-bottom: 15px;
    
   
}


.form-control {
    width: 288px;
    height: 40px;
    /* margin-bottom: 20px; */
}

.login_form {
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

  label {
    text-align: justify;  
    display: block;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #97A3B4;
  }
  
  input {
      color: #002257;
      font-size: 13px;
  }

  .form-group3 {
      padding-top: 20px;
  }
  .form-group4 {
      padding-top: 30px;
      padding-bottom: 50px;
  }

  .btn-primary {
      background: #5DBFE2 100%;
      text-align: center;
      font-size: 12px;
      color: white;
      width: 288px;
      height: 45px;
      border-radius: 2px;

  }

  .btn-create {
    background: #f1f1f1 100%;
    text-align: center;
    color:#002257 100%;
    width: 288px;
    height: 45px;
    border-radius: 2px;
    
    }

/* p {
    padding-top: 70px;
    font: 1em;
} */

.reset_password {
    
    text-align: center;
    padding-top: 70px;
    font-size: 13px;
    
}

a, a:active {
    cursor: pointer;
    color: #5DBFE2;
    text-decoration: none;
}

.help-block {
    margin-bottom: 10px;
    font-size: 11px;
}



.containerHome {
    background-color: #f9f9f9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 40px;
    margin: 0px;
    margin-top: 5%;
    
}
.wrapperHome {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.initial_input {
    /* float: right; */
    display: inline-block;
}

.initial_input_control {
    width: 500px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid rgb(209,211,212);
}

.initial_input_control_req {
    width: 265px;
    height: 28px;
    border: 1px solid rgb(253, 54, 54);
    border-radius: 8px;
}

.initial_input_control_long {
    width: 90%;
    height: 28px;
    border-radius: 8px;
    border: 1px solid rgb(209,211,212);
}



/* .quote_creation {
    background-color: gray;
    
} */

/* Progress Bar Styling */
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.bar {
	font-family: 'Lato', sans-serif;
	width: 10000px;
    margin: 0 auto;
    display: block;
}

.wrapper {
	display: table-cell;
	height: 100px;
	vertical-align: left;
}

/* .nav {
	margin-top: 100px;
} */

/* .back {
    float:left;
    margin-top: 500px;
}
.pull-right {
    float: right;
    margin-top: 500px;
} */

/* a, a:active {
	color: #333;
	text-decoration: none;
} */

a:hover {
	color: #999;
}

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: rgb(109, 110, 113);
	cursor: pointer;
	margin: 0 5px;
	padding: 10px 10px 10px 30px;
	/* min-width: 180px; */
	float: left;
	position: relative;
	background-color: rgb(209,211,212);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid whitesmoke;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 6px solid white;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

/* .arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
} */

/* .arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
} */

.arrow-steps .step.current {
	color: #fff;
	background-color: rgb(109, 110, 113)c;
}

.arrow-steps .step.current:after {
	border-left: 17px solid rgb(109, 110, 113)c;	
}