<app-nav></app-nav>
<div class="heading"><h3>Textbook Listings</h3></div>
<div class="filters">
    <img src="assets/images/filter-results-button.svg" class="filter-image"> Filters
</div>
<div class="filter-names">
    <div class="titleFilter">
    <label for="titleFilter">Title</label>
    <input type="text" name="titleFilter">
    </div>
    <div class="authorFilter">
    <label for="authorFilter">Author</label>
    <input type="text" name="authorFilter">
    </div>
     <div class="priceFilter">
    <label for="priceFilter">Price</label>
    <input type="text" name="priceFilter">
    </div>
     <div class="classFilter">
    <label for="classFilter">Class</label>
    <input type="text" name="classFilter">
    </div>
</div>
<div class="textbook-1">
    <div class="title">
        Title: 
    </div>
    <div class="title-name">
        Operating Systems Concepts
    </div>
    <div class="author">
        By:
    </div>
    <div class="author-name">
        Abraham Silberschatz, Peter Galvin, Greg Gagne
    </div>
    <div class="price">
        Price:
    </div>
    <div class="price-name">
        $30
    </div>
    <div class="class">
        Class:
    </div>
    <div class="class-name">
        EECS 338
    </div>
    <div class="condition">
        Condition:
    </div>
    <div class="condition-name">
        Slightly used
    </div>
</div>
