@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    font-family: 'Roboto Mono', monospace;
   
    /* background-color: white; */
    box-sizing: border-box;
    overflow: auto;
    
}
.success {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 7.6%;
    color: #5DBFE2;
    background-color: white;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}

.container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-top: 3%;
}

.column1{
    float: left;
    padding-right: 5%;
    padding-left: 5%;
    width: 40%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 7%;
    border: 2px solid #5DBFE2;
    background-color: rgba(93, 191, 226, 0.2);
    color:rgb(113,111,109);   
    height: 75%;
}

.column2 {
    float: left;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 5%; 
    margin-left: 5%;
    width: 40%;
    border: 2px solid #5DBFE2;
    background-color: rgba(93, 191, 226, 0.2);
    color:rgb(113,111,109); 
    height: 75%;
    
}

.username-label, .email-label, .bio-label, .review-title {
    color: black;
    
}

.email-label, .bio-label {
    padding-top: 2%;
}
.review-title {
    padding-bottom: 2%;
}

.avg-rating-title, .reviewer-title, .rating-title, .description-title {
    width: 40%;
    display: inline-block;
}
.avg-rating, .reviewer, .rating, .description {
    width: 55%;
    display: inline-block;
}


.description, .description-title, .avg-rating, .avg-rating-title{
    padding-bottom: 3%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.form-group {
    display: border-box;

}

.col-sm-3-control-label {
    font-size: 14px;

}

.form-signin-heading {
    text-align: center;
    
}

.editProfile {
     display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 37%;
    color: #5DBFE2;
    background:white 100%;
    text-align: center;
    font-size: 12px;
    width: 10%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #5DBFE2;
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;

}

a.review {
    text-decoration: none;
    margin-right: 8%;
    float: right;
    color: rgb(113,111,109);
    margin-top: 2%;
    
}
a.review:hover {
    color: #5DBFE2;
}

#email.title-name, #username.title-name, #bio.title-name {
    width: 60%;
    font-size: 12px;
}

#bio.title-name {
    height: 60px;
}


#submit.submit-btn {
    color: #5DBFE2;
    background:white 100%;
    text-align: center;
    font-size: 12px;
    width: 20%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #5DBFE2;
    margin-top: 4%;
    margin-bottom: 2%;
    text-decoration: none;
    padding-top: 0.5%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;

} 