@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    font-family: 'Roboto Mono', monospace;
   
    /* background-color: white; */
    box-sizing: border-box;
    overflow: auto;
    
}


.success {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 7.6%;
    color: #5DBFE2;
    background-color: white;
  
}

.heading {
    padding-top: 0.5%;
    padding-bottom: 0.2%;
    font-size: 20px;
    color: black;
    padding-left: 7.6%;
    background: #5dbfe2; 
}

.message {
    font-size: 40%;
}

.btn-search {
    display:inline-block;
    width: 10%;
    margin-left:2%
}

.titleFilter {
    margin-top: 1%;
    display:inline-block;
    width: 6%;
    font-size: 15px;
}
.filters {
    padding-left: 7.6%;
    padding-bottom: 2%;
    color: black;
    background: #5dbfe2;
    font-size: 15px;
}

.searchBar{
    padding-top: 0.35%;
    padding-bottom: 0.25%;
    width: 25%;   
}

.selectBar {
    padding-top: 0.35%;
    padding-bottom: 0.25%;
    width:15%;
    text-align:center;
    margin-left: 1%;
}
.filter-names {
    background: #5dbfe2;
    padding-bottom: 1.5%;
    border-bottom: 1px solid rgb(211, 213, 212);
}

a {
    text-decoration: none;
    color: #5DBFE2;
}
a:hover {
    color:rgb(113,111,109);
}

.click-me {
    margin-left: 2%;
    font-size: 12px;
}

input {
    border-radius: 6px;
    /* border: 1px solid #D9DEE8; */
    width: 85%;
}
.filter-image {
    width: 1.2%;
    height: 4%;
}

.textbook-1 {
    display: inline-block;
    margin-left: 7.6%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-top: 1.8%;
    padding-left: 1%;
    width: 20%;
    padding-top: 1%;
    box-sizing: border-box;
    border-radius: 2px;
    /* box-shadow: 1px 1px 5px rgb(109, 110, 113); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.author, .price, .class, .condition, .title, .edition {
    float: left;
    margin-left: 2%;
    width: 110px;
}

.title, .title-name, .author, .author-name, .price, .price-name, .class, .class-name, .condition, .condition-name, .edition-name, .edition {
    padding-bottom: 5px;
    font-size: 12px;
}
.title-name, .author-name, .price-name, .class-name, .condition-name, .edition-name {
    color: gray;
}
.submit_data {
    font-size: 15px;
    width: 30%;
    margin-left: 30%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 2%;
    background-color: white;
}

.messages {
    font-size: 20px;
    padding-top: 1%;
    color: #5dbfe2;
    text-align:center;
}