<!DOCTYPE html>
<html>
<title>{{ post.title }}</title>
<link rel="icon" type="image/ico" href="{{ url_for('static', filename='assets/images/stack.svg') }}" />

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='items.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nav.css') }}">

</head>

<body>
    <div class="nav">

        <ul class="nav-ul">
            <li><a class="home" href="/home"><img src="{{ url_for('static', filename='assets/images/stack.svg') }}"
                        alt="Texchange Logo" class="texchangeLogo"></a>
            </li>
            <li><a class="home" href="/search"><img src="{{ url_for('static', filename='assets/images/search.svg')}}"
                        alt="search page" class="searchPage"></a>
            </li>
            <div class="dropdown" style="float:right">
                <img src="{{ url_for('static', filename='assets/images/settings-black.svg')}}" alt="settings"
                    class="dropbtn">
                <div class="dropdown-content">
                    <a href="{{ url_for('profile', userprofile=current_user.username )}}"><img
                            src="{{ url_for('static', filename='assets/images/avatar.svg')  }}"
                            class="profileDrop">Profile</a>
                    <!-- <a *ngIf="auth.isLoggedIn()" (click)="auth.logout()"><img src="assets/images/turn-off.svg" class="signOutDrop">Logout</a> -->
                    <a href="/home"><img src="{{ url_for('static', filename='assets/images/information.svg') }}"
                            class="supportDrop">Help</a>
                    <a href="/logout"><img src="{{ url_for('static', filename='assets/images/turn-off.svg') }}"
                            class="signOutDrop">Logout</a>

                </div>
            </div>
        </ul>
    </div>
    <h1>Info on textbook listing</h1>
    <div class="textbooks">
        <div class="textbook-1">
            <div class="title">
                Title:
            </div>
            <div class="title-name">
                {{ post.title }}
            </div>
            <div class="edition">
                Edition:
            </div>
            <div class="edition-name">
                {% if post.edition %}
                {{ post.edition }}
                {% else %}
                -
                {% endif %}
            </div>
            <div class="author">
                By:
            </div>
            <div class="author-name">
                {{ post.authors }}
            </div>
            <div class="price">
                Price:
            </div>
            <div class="price-name">
                ${{ post.price }}
            </div>
            <div class="class">
                Class:
            </div>
            <div class="class-name">
                {{ post.class_id }}
            </div>
            <div class="condition">
                Condition:
            </div>
            <div class="condition-name">
                {{ post.quality }}
            </div>
            <div class="description">
                Description:
            </div>
            <div class="description-name">
                {% if post.description %}
                {{ post.description }}
                {% else %}
                -
                {% endif %}
            </div>
            <div class="username">
                This was posted by {{ user.username }}<a class="profile-link"
                    href="{{ url_for('profile', userprofile=user.username) }}">, View their profile</a>
            </div>
        </div>
    </div>

    <h2>Interested in this listing? <a href="#">Click here</a> to notify {{ user.username }}</h2>
    {% if current_user == user %}
    <a class="edit-btn" href="#">Edit Item Info</a>
    {% endif %}

</body>

</html>